  /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/04/2016, 12:28:35 PM
    Author     : felipe de jesus
*/
body{
    direction: ltr;
    color: #6f7b8a;
    font-family: 'Arial';
    font-size: 13px;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 1.5;
    font-style: normal;
    font-weight: normal;
    height: 100%;
}

.back-imss{
    background: #256659!important;
    color: white!important;
    text-transform: none!important;
}

.bg-color-nav{
  background: #b38e5d!important;
    color: white!important;
    text-transform: none!important;
}
.b-green-i{
    background: #256659!important;
    color: white!important;
}
.back-imss:hover{
    background: #256659!important;
    color: white!important;
    text-transform: none!important;
}
.back-imss-all{
    color: white!important;
    background: #14322D!important;
}
select {
  width: 220px;
  background-color: #ffffff;
  background-image: none !important;
  border: 1px solid #e5e5e5;
  outline: none;
  min-height: 35px;
}
.no-text-transform{
    text-transform: none!important;
}
select.xsmall {
  width: 64px !important;
}
select.small {
  width: 134px !important;
}
select.medium {
  width: 220px !important;
}
select.large {
  width: 334px !important;
}
select[multiple],
select[size] {
  height: auto !important;
}
.select2-container .select2-choice {
  background-image: none;
  border-radius: 2px;
  border: 1px solid #e5e9ec;
  padding: 3px 9px;
  transition: border 0.2s linear 0s;
  height: 35px;
}
.select2-container .select2-choice .select2-arrow {
  background: transparent;
  border-left: 0px;
}
.select2-container .select2-choice .select2-arrow b {
  background: none;
}
.select2-container .select2-choice .select2-arrow b:before {
  font-family: 'FontAwesome';
  content: "\f0d7";
  position: relative;
  top: 2px;
  right: 5px;
  font-size: 12px;
}
.select2-container.select2-drop-above .select2-choice {
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  background-image: none;
  border: 1px solid #e5e9ec;
  background: #f4f5f7;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.select2-drop.select2-drop-above {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: none;
}
.select2-drop.select2-drop-above.select2-drop-active {
  border: 1px solid #e5e9ec;
  border-bottom: none;
  border-radius: 2px;
  padding-top: 0px;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  box-shadow: none;
  border: 1px solid #e5e9ec;
  background: #f4f5f7;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.select2-search {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
}
.select2-search input {
  background: #ffffff !important;
  vertical-align: baseline;
  line-height: 28px;
  border-radius: 2px;
  border: none;
  font-size: 12px;
  border: 1px solid #999999;
}
.select2-results {
  margin: 3px 10px 10px 3px;
}
.color-white{
    color: white!important;

}
.color-black{
    color: black!important;

}
.scrollable{
    
    overflow-x: hidden!important;
}
/* Let's get this party started */
.scrollable::-webkit-scrollbar {
    width: 5px;
    
}
 
/* Track */
.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(33, 150, 243, 1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.scrollable::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(33, 150, 243, 1); 
    -webkit-box-shadow: inset 0 0 6px rgba(33, 150, 243, 1); 
}
.scrollable::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(33, 150, 243, 1); 
}
.col-centered {
   float: none;
   margin: 0 auto;
}
.width100{
    width: 100%;
} 
.back-transparent{
    background: transparent!important;
}

.modal-body-green{
    background: #256659!important;
    color: white!important;
}
.modal-header{
    background: #256659!important;
    border-radius: 8px 8px 0px 0px;
}
.modal-content{
    border-radius: 9px 9px 8px 8px;
}
.c-red-l-i{
    text-align: center;
}
.btn-primary,
.b-red-l-i:hover,
.b-red-l-i{
    background: #256659!important;
    color: white!important;
}
.fa-7x{
    font-size: 100px;
    color: #256659;
    text-align: center;
}
.modal-title{
    text-align: center;
}
.b-green-b-i{
    background: #256659!important;
    color: white!important;  
}
.icono-accion{
    font-size: 18px;
    color: #256659!important;
}
.modal-title{
    color:white!important;
    text-align: left!important;
}
.modal-header{
    background: #256659!important;
    padding: 7px!important;
    
}
.close{
    color: white!important;
    font-size:x-large!important;
}
.i-msj{
    color: #1EA176;
    font-size: 22px;
}
.mayus-bold{
    text-transform: uppercase;
    font-weight: bold;
}
.btn-imms-cancel,.btn-imss-cancel{
    background: #F44336!important;
    color: white!important;
}
.border-back-imss{
    border: 1px solid #256659!important;
}
.table-no-padding td, th{
    padding: 10px!important;
}
.text-color-white{
    color:  white!important;
}
.text-color-black{
    color:  black!important;
}
.text-color-imss{
    color:  #256659!important;
}
.text-color-cyan{
    color:  #00bcd4;
}

.text-color-red{
    color:  #d21404;
}

.text-color-blue{
    color:  #1f45fc;
}
.content-show-pass{
    position: relative;
}
.content-show-pass .show-hide-matricula{
    position: absolute;
    top: 32px;
    right: 10px;
}
.sui-listbox-item{
    list-style: none;
    padding: 5px;
    position: relative;
    border-left: 1px solid #D5D8DC;
    border-right: 1px solid #D5D8DC;
    border-bottom: 1px solid #D5D8DC;
}
.panel-x {
  margin-top: -10px !important;  
  margin-left:-30px; 
  margin-right:-30px;
}
.x-panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: white !important; 
  -webkit-column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;

}

.widget-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  color: #FFF;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/*.widget-small .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px 0 0 4px;
  font-size: 2.5rem;
}*/

.widget-small .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 20px;
  -ms-flex-item-align: center;
      align-self: center;
}

.widget-small .info h4 {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 1.1rem;
}

.widget-small .info p {
  margin: 0;
  font-size: 16px;
}

.widget-small.primary {
  background-color: #009688;
}

.widget-small.primary {
  background-color: #fff;
  color: #2a2a2a;
}

.widget-long {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  color: #FFF;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.widget-long .info-camas {

    padding: 0px 0px 10px 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.widget-long .info-camas {
    background-color: #FFFFFF;
    color: #005200;
}

.info-camas {
    content: "";
    position: absolute;
    left: 0px;
    height: 94px;
    border-left: 2px solid #ADB2B5;
    margin-top: 0px;
}

@media (min-width: 992px) {
    .widget-long .info-camas:first-child {
        border-left: 0;
    }
}

.widget-long .info-camas .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
}

div .border-div-b {
  border-width: 1px;
  border-style: solid;
  border-color: #4480C5;
}

.mt-10 {
  padding-top: 10px;
}
.tablaPrescripciones th, td {
 text-align: center;
  border-top:  1px solid #ddd;
  color: black;
}

.link-acordeon {
  background-color: #eee;
  padding: 5px;
}
